@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h1{
    color:rgb(16, 37, 54);
    font-family: 'Pacifico', 'cursive';
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
        width: 1000px;
        height: 350px;
align-content: center;
}
p, 
ul {
  border: 2px solid rebeccapurple;
  padding: .5em;
  background-color: azure;
}